{% extends "base.html" %}
{% block content %}
    <h2>Agregar Nuevo Cliente</h2>
    <form method="POST">
      {{ form.hidden_tag() }}
        <div class="form-group">{{ form.name.label }} {{ form.name(class="form-control") }}</div>
        <div class="form-group">{{ form.tax_id.label }} {{ form.tax_id(class="form-control") }}</div>
        <div class="form-group">{{ form.address.label }} {{ form.address(class="form-control") }}</div>
        <div class="form-group">{{ form.comuna.label }} {{ form.comuna(class="form-control") }}</div><br>
        <div>{{ form.submit(class="btn btn-primary") }}</div>
      </form>
    {% endblock %}

