{% extends 'base.html' %}
{% block content %}
<h2>Recepción de Materia Prima - Primer Paso</h2>
<form method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group">{{ form.client_id.label }} {{ form.client_id(class="form-select") }}</div>
    <div class="form-group">{{ form.grower_id.label }} {{ form.grower_id(class="form-select") }}</div>
    <div class="form-group">{{ form.waybill.label }} {{ form.waybill(class="form-control") }}</div>
    <div class="form-group">{{ form.date.label }} {{ form.date(class="form-control") }}</div>
    <div class="form-group">{{ form.time.label }} {{ form.time(class="form-control") }}</div>
    <div class="form-group">{{ form.truck_plate.label }} {{ form.truck_plate(class="form-control", placeholder="ABCD12 ó AB1234") }}</div>
    <div class="form-group">{{ form.trucker_name.label }} {{ form.trucker_name(class="form-control") }}</div>
    <div class="form-group">{{ form.observations.label }} {{ form.observations(class="form-control", rows="3") }}</div><br>
    <div>{{ form.submit(class="btn btn-primary") }}</div>
</form>
{% endblock %}