{% extends "base.html" %}
{% block content %}
    <h2>Agregar Nuevo Productor</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">{{ form.name.label }} {{ form.name(class="form-control") }}</div>
        <div class="form-group">{{ form.tax_id.label }} {{ form.tax_id(class="form-control") }}</div>
        <div class="form-group">{{ form.csg_code.label }} {{ form.csg_code(class="form-control") }}</div><br>
        <div>{{ form.submit(class="btn btn-primary") }}</div>
    </form>
    {% endblock %}
