{% extends "base.html" %}
{% block content %}
<div class="container">
    <h2>Listado de Clientes</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="col">#</th>
                    <th class="col">Razón Social</th>
                    <th class="col">Rut</th>
                    <th class="col">Dirección</th>
                    <th class="col">Comuna</th>
                </tr>
            </thead>
            <tbody>
            {% for client in clients %}
                <tr>
                    <th class="row">{{ loop.index }}</th>
                    <td>{{ client.name }}</td>
                    <td>{{ client.tax_id }}</td>
                    <td>{{ client.address }}</td>
                    <td>{{ client.comuna }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">No se encontraron clientes en la base de datos.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
</div>
{% endblock %}
