{% extends "base.html" %}
{% block content %}
<div class="container">
    <h2>Listado de Areas</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="col">#</th>
                    <th class="col">Area</th>
                    <th class="col">Descripción</th>
                </tr>
            </thead>
            <tbody>
            {% for area in areas %}
                <tr>
                    <th class="row">{{ loop.index }}</th>
                    <td>{{ area.name }}</td>
                    <td>{{ area.description }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">No se encontraron áreas en la base de datos.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
</div>
{% endblock %}