{% extends "base.html" %}
{% block content %}
<h2>List of Users</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Email</th>
            <th scope="col">Celular</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <th scope="row">{{ loop.index }}</th>
            <td>{{ user.name }}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.phone_number }}</td>
        </tr>
        {% else %}
        <tr>
            <td colspan="6">No hay usuarios en la base de datos.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
