{% extends "base.html" %}
{% block content %}
<div class="container">
    <h2>Listado de QC Lotes</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="col">#</th>
                    <th>Lote</th>
                    <th>Fecha</th>
                    <th>Analista</th>
                    <th>Detalles</th>
                </tr>
            </thead>
            <tbody>
                {% for record in lot_qc_records %}
                <tr>
                    <th class="row">{{ loop.index }}</th>
                    <td>{{ '{:03d}'.format(record.lot_id) }}</td>
                    <td>{{ record.date.strftime('%Y-%m-%d') }}</td>
                    <td>{{ record.analyst }}</td>
                    <td>
                        <a href="{{ url_for('view_lot_qc_report', report_id=record.id) }}" class="btn btn-primary btn-sm">Ver Análisis</a>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="4">No se encontraron análisis de calidad en la base de datos.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
</div>
{% endblock %}
