{% extends "base.html" %}
{% block content %}
<div class="container">
    <h2>Listado de Productores</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="col">#</th>
                    <th class="col">Razón Social</th>
                    <th class="col">Rut</th>
                    <th class="col">Código CSG</th>
                </tr>
            </thead>
            <tbody>
            {% for grower in growers %}
                <tr>
                    <th class="row">{{ loop.index }}</th>
                    <td>{{ grower.name }}</td>
                    <td>{{ grower.tax_id }}</td>
                    <td>{{ grower.csg_code }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">No se encontraron productores en la base de datos.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
</div>
{% endblock %}
