{% extends "base.html" %}
{% block content %}
<h2>Listado de Clientes</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Razón Social</th>
            <th scope="col">Rut</th>
            <th scope="col">Dirección</th>
            <th scope="col">Comuna</th>
        </tr>
    </thead>
    <tbody>
        {% for client in clients %}
        <tr>
            <th scope="row">{{ loop.index }}</th>
            <td>{{ client.name }}</td>
            <td>{{ client.tax_id }}</td>
            <td>{{ client.address }}</td>
            <td>{{ client.comuna }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
