{% extends "base.html" %}

{% block content %}
    <div class="container text-center">
        <h2>Control de Calidad de Muestra</h2>
    </div>
    <br>

    <div class="container text-center">
        <table class="table table-striped">
            <thead>
              <tr>
                <th class="col-sm-6">Productor</th>
                <th class="col-sm-6">Muestra traida por</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ report.grower }}</td>
                <td>{{ report.brought_by }}</td>
              </tr>
            </tbody>
        </table>
    </div>
    <br>
    <br>

    <div class="container text-center">
        <h4>Información del Análisis</h4>
    </div>
    <br>

    <div class="container text-center">
        <table class="table table-striped">
            <thead>
              <tr>
                <th class="col-sm-3">Analista</th>
                <th class="col-sm-3">Fecha</th>
                <th class="col-sm-3">Hora</th>
                <th class="col-sm-3">Unidades</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ report.analyst }}</td>
                <td>{{ report.date.strftime('%Y-%m-%d') }}</td>
                <td>{{ report.time.strftime('%H:%M') }}</td>
                <td>{{ report.units }}</td>
              </tr>
            </tbody>
        </table>
    </div>
    <br>
    <br>

    <div class="container text-center">
        <h4>Detalle de Cáscara</h4>
    </div>
    <br>

    <div class="container">
        <div class="row">
            <div class="col">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="col-sm-6">Calibre</th>
                            <th class="text-end col-sm-6">Unidades</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        <tr>
                            <th class="row">30/-</th>
                            <td class="text-end">{{ report.lessthan30 }}</td>
                        </tr>
                        <tr>
                            <th class="row">30/32</th>
                            <td class="text-end">{{ report.between3032 }}</td>
                        </tr>
                        <tr>
                            <th class="row">32/34</th>
                            <td class="text-end">{{ report.between3234 }}</td>
                        </tr>
                        <tr>
                            <th class="row">34/36</th>
                            <td class="text-end">{{ report.between3436 }}</td>
                        </tr>
                        <tr>
                            <th class="row">36/+</th>
                            <td class="text-end">{{ report.morethan36 }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="col-sm-6">Defecto Externo</th>
                            <th class="text-end col-sm-6">Unidades</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        <tr>
                            <th class="row">Cáscara Rota</th>
                            <td class="text-end">{{ report.broken_walnut }}</td>
                        </tr>
                        <tr>
                            <th class="row">Casco Abierto</th>
                            <td class="text-end">{{ report.split_walnut }}</td>
                        </tr>
                        <tr>
                            <th class="row">Mancha Leve</th>
                            <td class="text-end">{{ report.light_stain }}</td>
                        </tr>
                        <tr>
                            <th class="row">Mancha Grave</th>
                            <td class="text-end">{{ report.serious_stain }}</td>
                        </tr>
                        <tr>
                            <th class="row">Pelón Adherido</th>
                            <td class="text-end">{{ report.adhered_hull }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <br>
    <br>

    <div class="container text-center">
        <h4>Detalle de Pulpa</h4>
    </div>
    <br>

    <div class="container">
        <div class="row">
            <div class="col">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="col-sm-4">Item</th>
                            <th class="text-end col-sm-4">Peso (grs.)</th>
                            <th class="text-end col-sm-4">Porcentaje</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        <tr>
                            <th class="row">Peso con Cáscara</th>
                            <td class="text-end">{{ "{:0,.0f}".format(report.inshell_weight) }}</td>
                            <td class="text-end">100.00%</td>
                        </tr>
                        <tr>
                            <th class="row">Peso de Pulpa</th>
                            <td class="text-end">{{ "{:0,.0f}".format(report.shelled_weight) }}</td>
                            <td class="text-end">{{ report.yieldpercentage | round(2) }}%</td>
                        </tr>
                        <tr>
                            <th class="row">Extra Light</th>
                            <td class="text-end">{{ "{:0,.0f}".format(report.extra_light) }}</td>
                            <td class="text-end">{{ (report.extra_light / report.shelled_weight * 100) | round(2) if report.shelled_weight != 0 else '0.00' }}%</td>
                        </tr>
                        <tr>
                            <th class="row">Light</th>
                            <td class="text-end">{{ "{:0,.0f}".format(report.light) }}</td>
                            <td class="text-end">{{ (report.light / report.shelled_weight * 100) | round(2) if report.shelled_weight != 0 else '0.00' }}%</td>
                        </tr>
                        <tr>
                            <th class="row">Light Amber</th>
                            <td class="text-end">{{ "{:0,.0f}".format(report.light_amber) }}</td>
                            <td class="text-end">{{ (report.light_amber / report.shelled_weight * 100) | round(2) if report.shelled_weight != 0 else '0.00' }}%</td>
                        </tr>
                        <tr>
                            <th class="row">Amber</th>
                            <td class="text-end">{{ "{:0,.0f}".format(report.amber) }}</td>
                            <td class="text-end">{{ (report.amber / report.shelled_weight * 100) | round(2) if report.shelled_weight != 0 else '0.00' }}%</td>
                        </tr>
                        <tr>
                            <th class="row">Amarilla</th>
                            <td class="text-end">{{ "{:0,.0f}".format(report.yellow) }}</td>
                            <td class="text-end">{{ (report.yellow / report.shelled_weight * 100) | round(2) if report.shelled_weight != 0 else '0.00' }}%</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="col">Defecto Interno</th>
                            <th class="text-end" class="col">Unidades</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        <tr>
                            <th class="row">Reseca</th>
                            <td class="text-end">{{ report.shrivel }}</td>
                        </tr>
                        <tr>
                            <th class="row">Vana</th>
                            <td class="text-end">{{ report.empty }}</td>
                        </tr>
                        <tr>
                            <th class="row">Daño de Insecto</th>
                            <td class="text-end">{{ report.insect_damage }}</td>
                        </tr>
                        <tr>
                            <th class="row">Hongo Inactivo</th>
                            <td class="text-end">{{ report.inactive_fungus }}</td>
                        </tr>
                        <tr>
                            <th class="row">Hongo Activo</th>
                            <td class="text-end">{{ report.active_fungus }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <br>
    <br>

    <div class="container text-center">
        <h4>Foto Cáscara</h4>
    </div>
    <br>

    {% if report.inshell_image_path %}
    <div class="d-flex justify-content-center">
        <img src="{{ report.inshell_image_path }}" alt="Inshell Image" style="max-width: 100%; height: auto;">
    </div>
    {% endif %}
    <br>
    <br>

    <div class="container text-center">
        <h4>Foto Pulpa</h4>
    </div>
    <br>
    {% if report.shelled_image_path %}
    <div class="d-flex justify-content-center">
        <img src="{{ report.shelled_image_path }}" alt="Shelled Image" style="max-width: 100%; height: auto;">
    </div>
    {% endif %}

</div>
{% endblock %}
